<h1>Welcome to Webshop</h1>

<% @products.each do |product| %>
<div id="product-<%= product.id %>">
  <%= "#{product.title} - #{product.description} - #{product.price}" %>
  <% if session[:cart_id] %>
    <%= link_to 'Add to cart', shopping_cart_path(session[:cart_id], product_id: product), method: :put %>
  <% else %>
    <%= link_to 'Add to cart', shopping_carts_path(product_id: product), method: :post %>
  <% end %>
</div>
<% end %>
